USE [master]
GO
/****** Object:  Database [BD_REST]    Script Date: 02/07/2019 10:53:45 p. m. ******/
CREATE DATABASE [BD_REST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_REST', FILENAME = N'D:\Archivos de Programa\Microsoft SQL Server\MSSQL13.MSSQLEXP\MSSQL\DATA\BD_REST.mdf' , SIZE = 512000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_REST_log', FILENAME = N'D:\Archivos de Programa\Microsoft SQL Server\MSSQL13.MSSQLEXP\MSSQL\DATA\BD_REST_log.ldf' , SIZE = 256000KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_REST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_REST]
GO
USE [BD_REST]
GO
/****** Object:  UserDefinedFunction [dbo].[FC_OBTE_NOMB]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Sebastian  
-- Description: obtiene nombre completo cliente  
-- =============================================  
CREATE FUNCTION [dbo].[FC_OBTE_NOMB]  
(  
 @ISCOD_CLIE Varchar(20)  
)  
RETURNS Varchar(200)  
AS  
BEGIN  
 DECLARE @VSNOM_CLIE  Varchar(200)  
      
    Select  @VSNOM_CLIE = IsNull(FS_APE_PATE_CLIE,'') + SPACE(1) + IsNull(FS_APE_MATE_CLIE,'') + SPACE(1) +  IsNull(FS_NOM_CLIE_NA01,'')  + SPACE(1) + IsNull(FS_NOM_CLIE_NA02 ,'')  
    From TB_CLIE  
    Where FS_COD_CLIE =  @ISCOD_CLIE  
  
  
 RETURN @VSNOM_CLIE  
  
END  
GO
/****** Object:  Table [dbo].[TB_ARTI]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ARTI](
	[FS_COD_ARTI] [varchar](20) NOT NULL,
	[FI_COD_EMPR] [int] NOT NULL,
	[FS_NOM_ARTI] [varchar](100) NOT NULL,
	[FS_COD_CLAS] [varchar](6) NOT NULL,
	[FS_TIP_PRES] [varchar](6) NULL,
	[FN_IMP_VENT] [numeric](18, 4) NULL,
	[FS_TIP_SITU] [varchar](4) NULL,
	[FS_DES_OBSE] [varchar](100) NULL,
	[FS_RUT_FOTO] [varchar](400) NULL,
 CONSTRAINT [PK_TB_ARTI] PRIMARY KEY CLUSTERED 
(
	[FS_COD_ARTI] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ARTI_CLAS]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ARTI_CLAS](
	[FS_COD_CLAS] [varchar](6) NOT NULL,
	[FS_DES_CLAS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FS_COD_CLAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CABE_DOCU_VENT]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CABE_DOCU_VENT](
	[FN_IDE_DOCU] [numeric](18, 0) NOT NULL,
	[FI_COD_EMPR] [int] NOT NULL,
	[FS_TIP_DOCU] [varchar](4) NOT NULL,
	[FD_FEC_DOCU] [datetime] NOT NULL,
	[FS_COD_CLIE] [varchar](20) NOT NULL,
	[FN_IDE_ORDE] [numeric](18, 0) NOT NULL,
	[FS_NOM_CLIE] [varchar](200) NULL,
	[FS_NUM_RUCS] [varchar](20) NULL,
	[FS_DES_DIRE] [varchar](200) NULL,
	[FN_IMP_TOTA] [numeric](16, 4) NOT NULL,
	[FS_COD_MONE] [varchar](4) NOT NULL,
	[FS_COD_ESTA_DOCU] [varchar](4) NOT NULL,
	[FS_DES_OBSE] [varchar](100) NULL,
	[FS_COD_EJEC] [varchar](20) NOT NULL,
	[FS_NUM_DOCU] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TB_CABE_DOCU_VENT] PRIMARY KEY CLUSTERED 
(
	[FN_IDE_DOCU] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CABE_ORDE]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CABE_ORDE](
	[FI_COD_EMPR] [int] NOT NULL,
	[FN_IDE_ORDE] [numeric](18, 0) NOT NULL,
	[FD_FEC_ORDE] [datetime] NOT NULL,
	[FS_NOM_CLIE] [varchar](200) NULL,
	[FS_NUM_RUCS] [varchar](20) NULL,
	[FS_COD_CLIE] [varchar](20) NOT NULL,
	[FN_IMP_TOTA] [numeric](16, 4) NULL,
	[FS_COD_MESA] [varchar](10) NULL,
	[FS_TIP_SITU] [varchar](4) NOT NULL,
	[FS_COD_EJEC] [varchar](20) NULL,
	[FS_TIP_CLIE] [varchar](4) NULL,
	[FS_NUM_DOCU_IDEN] [varchar](20) NULL,
 CONSTRAINT [PK_TB_CABE_ORDE] PRIMARY KEY CLUSTERED 
(
	[FI_COD_EMPR] ASC,
	[FN_IDE_ORDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CLIE]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIE](
	[FS_COD_CLIE] [varchar](20) NOT NULL,
	[FS_APE_PATE_CLIE] [varchar](50) NULL,
	[FS_APE_MATE_CLIE] [varchar](50) NULL,
	[FS_NOM_CLIE_NA01] [varchar](50) NOT NULL,
	[FS_NOM_CLIE_NA02] [varchar](50) NULL,
	[FS_NOM_RAZO_SOCI] [varchar](150) NULL,
	[FD_FEC_REGI] [datetime] NOT NULL,
	[FS_NUM_DOCU_IDEN] [varchar](20) NULL,
	[FS_NUM_RUCS] [varchar](20) NULL,
	[FS_DES_MAIL] [varchar](150) NULL,
	[FS_DES_OBSE] [varchar](100) NULL,
	[FS_TIP_SITU] [varchar](4) NULL,
	[FS_COD_TIPE_SUNA] [varchar](2) NULL,
	[FS_TIP_CLIE] [varchar](4) NULL,
	[FI_STA_DEFE] [int] NULL,
	[FS_DES_DIRE] [varchar](200) NULL,
 CONSTRAINT [PK_TB_CLIE] PRIMARY KEY CLUSTERED 
(
	[FS_COD_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DETA_DOCU_VENT]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DETA_DOCU_VENT](
	[FN_IDE_DOCU] [numeric](18, 0) NOT NULL,
	[FI_COD_EMPR] [int] NOT NULL,
	[FI_NUM_SECU] [int] NOT NULL,
	[FD_FEC_DOCU] [datetime] NOT NULL,
	[FS_TIP_DOCU] [varchar](4) NOT NULL,
	[FS_COD_ARTI] [varchar](20) NOT NULL,
	[FN_CAN_ARTI] [numeric](18, 2) NOT NULL,
	[FN_PRE_VENT] [numeric](18, 4) NOT NULL,
 CONSTRAINT [PK_TB_DETA_DOCU_VENT] PRIMARY KEY CLUSTERED 
(
	[FN_IDE_DOCU] ASC,
	[FI_COD_EMPR] ASC,
	[FI_NUM_SECU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DETA_ORDE]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DETA_ORDE](
	[FN_IDE_ORDE] [numeric](18, 0) NOT NULL,
	[FI_NUM_SECU] [int] NOT NULL,
	[FI_COD_EMPR] [int] NOT NULL,
	[FN_PRE_VENT] [numeric](18, 4) NOT NULL,
	[FN_CAN_ARTI] [numeric](18, 2) NOT NULL,
	[FS_TIP_SITU] [varchar](4) NULL,
	[FS_COD_ARTI] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TB_DETA_ORDE] PRIMARY KEY CLUSTERED 
(
	[FN_IDE_ORDE] ASC,
	[FI_NUM_SECU] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EJEC_VENT]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EJEC_VENT](
	[FS_COD_EJEC] [varchar](20) NOT NULL,
	[FI_COD_EMPR] [int] NOT NULL,
	[FS_NOM_EJEC] [varchar](20) NOT NULL,
	[FS_APE_PATE_EJEC] [varchar](20) NULL,
	[FS_APE_MATE_EJEC] [varchar](20) NULL,
	[FS_TIP_SITU] [varchar](4) NULL,
	[FS_COD_USUA] [varchar](10) NULL,
	[FS_DES_MAIL] [varchar](100) NULL,
 CONSTRAINT [PK_TB_EJEC_VENT] PRIMARY KEY CLUSTERED 
(
	[FS_COD_EJEC] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_EMPR]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMPR](
	[FI_COD_EMPR] [int] NOT NULL,
	[FS_NOM_EMPR] [varchar](100) NOT NULL,
	[FS_NUM_RUCC] [varchar](20) NULL,
	[FS_DIR_PRIN] [varchar](100) NULL,
	[FS_NUM_TEL1] [varchar](20) NULL,
	[FS_NUM_TEL2] [varchar](20) NULL,
	[FS_PAG_WEBB] [varchar](50) NULL,
	[FS_RUT_LOGO_EMPR] [varchar](200) NULL,
 CONSTRAINT [PK_TB_EMPR] PRIMARY KEY CLUSTERED 
(
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MESA]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MESA](
	[FS_COD_MESA] [varchar](10) NOT NULL,
	[FS_STA_OCUP] [varchar](1) NULL,
	[FS_HOR_INIC_RESE] [varchar](10) NULL,
	[FS_HOR_FINA_RESE] [varchar](10) NULL,
 CONSTRAINT [PK_TB_MESA] PRIMARY KEY CLUSTERED 
(
	[FS_COD_MESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_CLIE]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_CLIE](
	[FS_TIP_CLIE] [varchar](4) NULL,
	[FS_DES_TIPO_CLIE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_DOCU_SIST]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_DOCU_SIST](
	[FS_COD_TIDO_SIST] [varchar](5) NOT NULL,
	[FS_DES_TIDO_SIST] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[FS_COD_TIDO_SIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_PERS_SUNA]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_PERS_SUNA](
	[FS_COD_TIPE_SUNA] [varchar](2) NOT NULL,
	[FS_DES_TIPE_SUNA] [varchar](50) NULL,
	[FS_IND_PERS] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[FS_COD_TIPE_SUNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUA]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUA](
	[FS_COD_USUA] [varchar](10) NOT NULL,
	[FS_NOM_PRIM] [varchar](50) NOT NULL,
	[FS_NOM_SECU] [varchar](50) NULL,
	[FS_APE_PATE] [varchar](50) NULL,
	[FS_APE_MATE] [varchar](50) NULL,
	[FS_CLA_USUA] [varchar](max) NULL,
	[FS_NUM_TEL1] [varchar](20) NULL,
	[FS_DES_MAIL] [varchar](50) NULL,
	[FS_TIP_SITU] [varchar](4) NOT NULL,
	[FI_NUM_SECU] [int] NOT NULL,
	[FS_TIP_USUA] [varchar](4) NULL,
	[FS_DES_OBSE] [varchar](200) NULL,
	[FS_DES_ROLE] [varchar](100) NULL,
	[FD_FEC_USCR] [datetime] NULL,
	[FS_RUT_FOTO] [varchar](max) NULL,
 CONSTRAINT [PK_TB_USUA] PRIMARY KEY CLUSTERED 
(
	[FS_COD_USUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[TB_ARTI] ([FS_COD_ARTI], [FI_COD_EMPR], [FS_NOM_ARTI], [FS_COD_CLAS], [FS_TIP_PRES], [FN_IMP_VENT], [FS_TIP_SITU], [FS_DES_OBSE], [FS_RUT_FOTO]) VALUES (N'000001', 1, N'Ceviche', N'001', NULL, CAST(13.0000 AS Numeric(18, 4)), N'ACT', N'', N'/Fotos/comida/ceviche.jpg')
INSERT [dbo].[TB_ARTI] ([FS_COD_ARTI], [FI_COD_EMPR], [FS_NOM_ARTI], [FS_COD_CLAS], [FS_TIP_PRES], [FN_IMP_VENT], [FS_TIP_SITU], [FS_DES_OBSE], [FS_RUT_FOTO]) VALUES (N'000002', 1, N'Mazamorra', N'004', N'', CAST(7.0000 AS Numeric(18, 4)), N'ACT', N'', N'/Fotos/comida/DSC058141.jpg')
INSERT [dbo].[TB_ARTI] ([FS_COD_ARTI], [FI_COD_EMPR], [FS_NOM_ARTI], [FS_COD_CLAS], [FS_TIP_PRES], [FN_IMP_VENT], [FS_TIP_SITU], [FS_DES_OBSE], [FS_RUT_FOTO]) VALUES (N'000003', 1, N'Arroz con pollo', N'002', N'', CAST(16.0000 AS Numeric(18, 4)), N'ACT', N'', N'/Fotos/comida/arroz_con_pollo_ok.jpg')
INSERT [dbo].[TB_ARTI_CLAS] ([FS_COD_CLAS], [FS_DES_CLAS]) VALUES (N'001', N'Entradas')
INSERT [dbo].[TB_ARTI_CLAS] ([FS_COD_CLAS], [FS_DES_CLAS]) VALUES (N'002', N'Segundos')
INSERT [dbo].[TB_ARTI_CLAS] ([FS_COD_CLAS], [FS_DES_CLAS]) VALUES (N'003', N'Bebidas')
INSERT [dbo].[TB_CABE_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FS_TIP_DOCU], [FD_FEC_DOCU], [FS_COD_CLIE], [FN_IDE_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_DES_DIRE], [FN_IMP_TOTA], [FS_COD_MONE], [FS_COD_ESTA_DOCU], [FS_DES_OBSE], [FS_COD_EJEC], [FS_NUM_DOCU]) VALUES (CAST(1 AS Numeric(18, 0)), 1, N'BOL', CAST(N'2019-06-30T00:00:00.000' AS DateTime), N'99999999', CAST(95 AS Numeric(18, 0)), N'  GENERICO ', N'', N'', CAST(22.0000 AS Numeric(16, 4)), N'SOL', N'ACT', N'', N'', N'B001-0000000001')
INSERT [dbo].[TB_CABE_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FS_TIP_DOCU], [FD_FEC_DOCU], [FS_COD_CLIE], [FN_IDE_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_DES_DIRE], [FN_IMP_TOTA], [FS_COD_MONE], [FS_COD_ESTA_DOCU], [FS_DES_OBSE], [FS_COD_EJEC], [FS_NUM_DOCU]) VALUES (CAST(2 AS Numeric(18, 0)), 1, N'BOL', CAST(N'2019-06-30T00:00:00.000' AS DateTime), N'99999999', CAST(97 AS Numeric(18, 0)), N'  GENERICO ', N'', N'', CAST(106.0000 AS Numeric(16, 4)), N'SOL', N'ACT', N'', N'', N'B001-0000000002')
INSERT [dbo].[TB_CABE_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FS_TIP_DOCU], [FD_FEC_DOCU], [FS_COD_CLIE], [FN_IDE_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_DES_DIRE], [FN_IMP_TOTA], [FS_COD_MONE], [FS_COD_ESTA_DOCU], [FS_DES_OBSE], [FS_COD_EJEC], [FS_NUM_DOCU]) VALUES (CAST(3 AS Numeric(18, 0)), 1, N'BOL', CAST(N'2019-07-02T00:00:00.000' AS DateTime), N'00000003371', CAST(94 AS Numeric(18, 0)), N'ÑUNEZ DE GONZALEZ MYRIAM  ', N'', N'', CAST(146.0000 AS Numeric(16, 4)), N'SOL', N'ACT', N'', N'', N'B001-0000000003')
INSERT [dbo].[TB_CABE_ORDE] ([FI_COD_EMPR], [FN_IDE_ORDE], [FD_FEC_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_COD_CLIE], [FN_IMP_TOTA], [FS_COD_MESA], [FS_TIP_SITU], [FS_COD_EJEC], [FS_TIP_CLIE], [FS_NUM_DOCU_IDEN]) VALUES (1, CAST(1 AS Numeric(18, 0)), CAST(N'2019-06-12T00:00:00.000' AS DateTime), N'ÑUNEZ DE GONZALEZ MYRIAM  ', N'', N'00000003371', CAST(39.0000 AS Numeric(16, 4)), N'', N'ACT', N'', N'0800', N'00003371')
INSERT [dbo].[TB_CABE_ORDE] ([FI_COD_EMPR], [FN_IDE_ORDE], [FD_FEC_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_COD_CLIE], [FN_IMP_TOTA], [FS_COD_MESA], [FS_TIP_SITU], [FS_COD_EJEC], [FS_TIP_CLIE], [FS_NUM_DOCU_IDEN]) VALUES (1, CAST(2 AS Numeric(18, 0)), CAST(N'2019-06-12T00:00:00.000' AS DateTime), N'ÑUNEZ DE GONZALEZ MYRIAM  ', N'', N'00000003371', CAST(39.0000 AS Numeric(16, 4)), NULL, N'ACT', NULL, N'0800', N'00003371')
INSERT [dbo].[TB_CABE_ORDE] ([FI_COD_EMPR], [FN_IDE_ORDE], [FD_FEC_ORDE], [FS_NOM_CLIE], [FS_NUM_RUCS], [FS_COD_CLIE], [FN_IMP_TOTA], [FS_COD_MESA], [FS_TIP_SITU], [FS_COD_EJEC], [FS_TIP_CLIE], [FS_NUM_DOCU_IDEN]) VALUES (1, CAST(3 AS Numeric(18, 0)), CAST(N'2019-06-12T00:00:00.000' AS DateTime), N'ÑUNEZ DE GONZALEZ MYRIAM  ', N'', N'00000003371', CAST(39.0000 AS Numeric(16, 4)), NULL, N'ACT', NULL, N'0800', N'00003371')
INSERT [dbo].[TB_CLIE] ([FS_COD_CLIE], [FS_APE_PATE_CLIE], [FS_APE_MATE_CLIE], [FS_NOM_CLIE_NA01], [FS_NOM_CLIE_NA02], [FS_NOM_RAZO_SOCI], [FD_FEC_REGI], [FS_NUM_DOCU_IDEN], [FS_NUM_RUCS], [FS_DES_MAIL], [FS_DES_OBSE], [FS_TIP_SITU], [FS_COD_TIPE_SUNA], [FS_TIP_CLIE], [FI_STA_DEFE], [FS_DES_DIRE]) VALUES (N'00000003371', N'ÑUNEZ', N'DE GONZALEZ', N'MYRIAM', N'', N'', CAST(N'2019-07-01T00:00:00.000' AS DateTime), N'00003371', N'', N'', N'', N'ACTI', N'', N'0200', 0, N'')
INSERT [dbo].[TB_CLIE] ([FS_COD_CLIE], [FS_APE_PATE_CLIE], [FS_APE_MATE_CLIE], [FS_NOM_CLIE_NA01], [FS_NOM_CLIE_NA02], [FS_NOM_RAZO_SOCI], [FD_FEC_REGI], [FS_NUM_DOCU_IDEN], [FS_NUM_RUCS], [FS_DES_MAIL], [FS_DES_OBSE], [FS_TIP_SITU], [FS_COD_TIPE_SUNA], [FS_TIP_CLIE], [FI_STA_DEFE], [FS_DES_DIRE]) VALUES (N'00000003932', N'PAVLITCHENKO', N'IOURU', N'IOURI', N'', N'', CAST(N'2019-06-22T17:21:21.563' AS DateTime), N'00003932', NULL, N'', N'', N'ACT', N'01', N'0800', 0, NULL)
INSERT [dbo].[TB_CLIE] ([FS_COD_CLIE], [FS_APE_PATE_CLIE], [FS_APE_MATE_CLIE], [FS_NOM_CLIE_NA01], [FS_NOM_CLIE_NA02], [FS_NOM_RAZO_SOCI], [FD_FEC_REGI], [FS_NUM_DOCU_IDEN], [FS_NUM_RUCS], [FS_DES_MAIL], [FS_DES_OBSE], [FS_TIP_SITU], [FS_COD_TIPE_SUNA], [FS_TIP_CLIE], [FI_STA_DEFE], [FS_DES_DIRE]) VALUES (N'00000825820', N'ROJAS', N'LEON', N'LUIS', N'ALBERTO', N'', CAST(N'2019-06-22T17:21:21.563' AS DateTime), N'08258720', N'', N'', N'', N'ACT', N'01', N'0800', 0, NULL)
GO
INSERT [dbo].[TB_DETA_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FI_NUM_SECU], [FD_FEC_DOCU], [FS_TIP_DOCU], [FS_COD_ARTI], [FN_CAN_ARTI], [FN_PRE_VENT]) VALUES (CAST(1 AS Numeric(18, 0)), 1, 1, CAST(N'2019-06-30T00:00:00.000' AS DateTime), N'BOL', N'000001', CAST(1.00 AS Numeric(18, 2)), CAST(13.0000 AS Numeric(18, 4)))
INSERT [dbo].[TB_DETA_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FI_NUM_SECU], [FD_FEC_DOCU], [FS_TIP_DOCU], [FS_COD_ARTI], [FN_CAN_ARTI], [FN_PRE_VENT]) VALUES (CAST(1 AS Numeric(18, 0)), 1, 2, CAST(N'2019-06-30T00:00:00.000' AS DateTime), N'BOL', N'000004', CAST(1.00 AS Numeric(18, 2)), CAST(5.0000 AS Numeric(18, 4)))
INSERT [dbo].[TB_DETA_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR], [FI_NUM_SECU], [FD_FEC_DOCU], [FS_TIP_DOCU], [FS_COD_ARTI], [FN_CAN_ARTI], [FN_PRE_VENT]) VALUES (CAST(1 AS Numeric(18, 0)), 1, 3, CAST(N'2019-06-30T00:00:00.000' AS DateTime), N'BOL', N'000006', CAST(1.00 AS Numeric(18, 2)), CAST(4.0000 AS Numeric(18, 4)))
INSERT [dbo].[TB_DETA_ORDE] ([FN_IDE_ORDE], [FI_NUM_SECU], [FI_COD_EMPR], [FN_PRE_VENT], [FN_CAN_ARTI], [FS_TIP_SITU], [FS_COD_ARTI]) VALUES (CAST(43 AS Numeric(18, 0)), 1, 1, CAST(16.0000 AS Numeric(18, 4)), CAST(1.00 AS Numeric(18, 2)), NULL, N'000003')
INSERT [dbo].[TB_DETA_ORDE] ([FN_IDE_ORDE], [FI_NUM_SECU], [FI_COD_EMPR], [FN_PRE_VENT], [FN_CAN_ARTI], [FS_TIP_SITU], [FS_COD_ARTI]) VALUES (CAST(43 AS Numeric(18, 0)), 2, 1, CAST(13.0000 AS Numeric(18, 4)), CAST(1.00 AS Numeric(18, 2)), NULL, N'000001')
INSERT [dbo].[TB_DETA_ORDE] ([FN_IDE_ORDE], [FI_NUM_SECU], [FI_COD_EMPR], [FN_PRE_VENT], [FN_CAN_ARTI], [FS_TIP_SITU], [FS_COD_ARTI]) VALUES (CAST(43 AS Numeric(18, 0)), 3, 1, CAST(5.0000 AS Numeric(18, 4)), CAST(1.00 AS Numeric(18, 2)), NULL, N'000004')
GO
INSERT [dbo].[TB_EMPR] ([FI_COD_EMPR], [FS_NOM_EMPR], [FS_NUM_RUCC], [FS_DIR_PRIN], [FS_NUM_TEL1], [FS_NUM_TEL2], [FS_PAG_WEBB], [FS_RUT_LOGO_EMPR]) VALUES (1, N'Restaurante Prueba', N'123456788', N'Calle 123', NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_MESA] ([FS_COD_MESA], [FS_STA_OCUP], [FS_HOR_INIC_RESE], [FS_HOR_FINA_RESE]) VALUES (N'M01', N'N', NULL, NULL)
INSERT [dbo].[TB_MESA] ([FS_COD_MESA], [FS_STA_OCUP], [FS_HOR_INIC_RESE], [FS_HOR_FINA_RESE]) VALUES (N'M02', N'S', N'22:52', N'23:52')
INSERT [dbo].[TB_MESA] ([FS_COD_MESA], [FS_STA_OCUP], [FS_HOR_INIC_RESE], [FS_HOR_FINA_RESE]) VALUES (N'M04', N'N', NULL, NULL)
INSERT [dbo].[TB_TIPO_CLIE] ([FS_TIP_CLIE], [FS_DES_TIPO_CLIE]) VALUES (N'9999', N'GENERICO')
INSERT [dbo].[TB_TIPO_CLIE] ([FS_TIP_CLIE], [FS_DES_TIPO_CLIE]) VALUES (N'0200', N'Distribuidores')
INSERT [dbo].[TB_TIPO_CLIE] ([FS_TIP_CLIE], [FS_DES_TIPO_CLIE]) VALUES (N'0400', N'Institucional')
INSERT [dbo].[TB_TIPO_DOCU_SIST] ([FS_COD_TIDO_SIST], [FS_DES_TIDO_SIST]) VALUES (N'BOL', N'Boleta')
INSERT [dbo].[TB_TIPO_DOCU_SIST] ([FS_COD_TIDO_SIST], [FS_DES_TIDO_SIST]) VALUES (N'FAC', N'Factura')
INSERT [dbo].[TB_TIPO_PERS_SUNA] ([FS_COD_TIPE_SUNA], [FS_DES_TIPE_SUNA], [FS_IND_PERS]) VALUES (N'01', N'Persona Natural', N'N')
INSERT [dbo].[TB_TIPO_PERS_SUNA] ([FS_COD_TIPE_SUNA], [FS_DES_TIPE_SUNA], [FS_IND_PERS]) VALUES (N'02', N'Persona Juridico', N'J')
INSERT [dbo].[TB_TIPO_PERS_SUNA] ([FS_COD_TIPE_SUNA], [FS_DES_TIPE_SUNA], [FS_IND_PERS]) VALUES (N'03', N'No Domiciliado', N'D')
INSERT [dbo].[TB_USUA] ([FS_COD_USUA], [FS_NOM_PRIM], [FS_NOM_SECU], [FS_APE_PATE], [FS_APE_MATE], [FS_CLA_USUA], [FS_NUM_TEL1], [FS_DES_MAIL], [FS_TIP_SITU], [FI_NUM_SECU], [FS_TIP_USUA], [FS_DES_OBSE], [FS_DES_ROLE], [FD_FEC_USCR], [FS_RUT_FOTO]) VALUES (N'KODOKU', N'Sebastian2', N'', N'Luque', N'', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', N'992189764', N'underoathh16@gmail.com', N'ACT', 0, N'ADMI', N'test de cambios de datos', N'Administrador', CAST(N'2019-06-12T16:15:44.823' AS DateTime), N'/Fotos/usuario/profile.jpg')
/****** Object:  Index [fkIdx_84]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_84] ON [dbo].[TB_ARTI]
(
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_98]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_98] ON [dbo].[TB_CABE_DOCU_VENT]
(
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fkIdx_27]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_27] ON [dbo].[TB_CABE_ORDE]
(
	[FS_COD_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_66]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_66] ON [dbo].[TB_CABE_ORDE]
(
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_FS_TIP_CLIE]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_FS_TIP_CLIE] ON [dbo].[TB_CLIE]
(
	[FS_TIP_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_118]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_118] ON [dbo].[TB_DETA_DOCU_VENT]
(
	[FN_IDE_DOCU] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fkIdx_126]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_126] ON [dbo].[TB_DETA_DOCU_VENT]
(
	[FS_COD_ARTI] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fkIdx_129]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_129] ON [dbo].[TB_DETA_ORDE]
(
	[FS_COD_ARTI] ASC,
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_45]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_45] ON [dbo].[TB_DETA_ORDE]
(
	[FI_COD_EMPR] ASC,
	[FN_IDE_ORDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_138]    Script Date: 02/07/2019 10:53:46 p. m. ******/
CREATE NONCLUSTERED INDEX [fkIdx_138] ON [dbo].[TB_EJEC_VENT]
(
	[FI_COD_EMPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_ARTI]  WITH CHECK ADD  CONSTRAINT [FK_84] FOREIGN KEY([FI_COD_EMPR])
REFERENCES [dbo].[TB_EMPR] ([FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_ARTI] CHECK CONSTRAINT [FK_84]
GO
ALTER TABLE [dbo].[TB_CABE_DOCU_VENT]  WITH CHECK ADD  CONSTRAINT [FK_98] FOREIGN KEY([FI_COD_EMPR])
REFERENCES [dbo].[TB_EMPR] ([FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_CABE_DOCU_VENT] CHECK CONSTRAINT [FK_98]
GO
ALTER TABLE [dbo].[TB_CABE_ORDE]  WITH CHECK ADD  CONSTRAINT [FK_66] FOREIGN KEY([FI_COD_EMPR])
REFERENCES [dbo].[TB_EMPR] ([FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_CABE_ORDE] CHECK CONSTRAINT [FK_66]
GO
ALTER TABLE [dbo].[TB_DETA_DOCU_VENT]  WITH CHECK ADD  CONSTRAINT [FK_118] FOREIGN KEY([FN_IDE_DOCU], [FI_COD_EMPR])
REFERENCES [dbo].[TB_CABE_DOCU_VENT] ([FN_IDE_DOCU], [FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_DETA_DOCU_VENT] CHECK CONSTRAINT [FK_118]
GO
ALTER TABLE [dbo].[TB_DETA_DOCU_VENT]  WITH CHECK ADD  CONSTRAINT [FK_126] FOREIGN KEY([FS_COD_ARTI], [FI_COD_EMPR])
REFERENCES [dbo].[TB_ARTI] ([FS_COD_ARTI], [FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_DETA_DOCU_VENT] CHECK CONSTRAINT [FK_126]
GO
ALTER TABLE [dbo].[TB_DETA_ORDE]  WITH CHECK ADD  CONSTRAINT [FK_129] FOREIGN KEY([FS_COD_ARTI], [FI_COD_EMPR])
REFERENCES [dbo].[TB_ARTI] ([FS_COD_ARTI], [FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_DETA_ORDE] CHECK CONSTRAINT [FK_129]
GO
ALTER TABLE [dbo].[TB_DETA_ORDE]  WITH CHECK ADD  CONSTRAINT [FK_45] FOREIGN KEY([FI_COD_EMPR], [FN_IDE_ORDE])
REFERENCES [dbo].[TB_CABE_ORDE] ([FI_COD_EMPR], [FN_IDE_ORDE])
GO
ALTER TABLE [dbo].[TB_DETA_ORDE] CHECK CONSTRAINT [FK_45]
GO
ALTER TABLE [dbo].[TB_EJEC_VENT]  WITH CHECK ADD  CONSTRAINT [FK_138] FOREIGN KEY([FI_COD_EMPR])
REFERENCES [dbo].[TB_EMPR] ([FI_COD_EMPR])
GO
ALTER TABLE [dbo].[TB_EJEC_VENT] CHECK CONSTRAINT [FK_138]
GO
/****** Object:  StoredProcedure [dbo].[SP_ARTI_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ARTI_AC01]
@ISCOD_ARTI varchar(20),
@IICOD_EMPR int = 1,
@ISNOM_ARTI varchar(100),
@ISCOD_CLAS varchar(6),
@ISTIP_PRES varchar(6),
@INIMP_VENT numeric(18,4),
@ISTIP_SITU varchar(4),
@ISDES_OBSE varchar(100),
@ISRUT_FOTO varchar(400)

AS

UPDATE [dbo].[TB_ARTI]
   SET 
       
       [FS_NOM_ARTI] =@ISNOM_ARTI ,
       [FS_COD_CLAS] =@ISCOD_CLAS ,
       [FS_TIP_PRES] =@ISTIP_PRES ,
       [FN_IMP_VENT] =@INIMP_VENT ,
       [FS_TIP_SITU] =@ISTIP_SITU ,
       [FS_DES_OBSE] =@ISDES_OBSE ,
       [FS_RUT_FOTO] =@ISRUT_FOTO
 WHERE FS_COD_ARTI = @ISCOD_ARTI
GO
/****** Object:  StoredProcedure [dbo].[SP_ARTI_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ARTI_AD01]
@ISCOD_ARTI varchar(20),
@IICOD_EMPR int,
@ISNOM_ARTI varchar(100),
@ISCOD_CLAS varchar(6),
@ISTIP_PRES varchar(6) = '',
@INIMP_VENT numeric(18,4),
@ISTIP_SITU varchar(4) = 'ACT',
@ISDES_OBSE varchar(100)= '',
@ISRUT_FOTO varchar(400) = null
AS
INSERT INTO TB_ARTI
           ([FS_COD_ARTI]
           ,[FI_COD_EMPR]
           ,[FS_NOM_ARTI]
           ,[FS_COD_CLAS]
           ,[FS_TIP_PRES]
           ,[FN_IMP_VENT]
           ,[FS_TIP_SITU]
           ,[FS_DES_OBSE]
           ,[FS_RUT_FOTO])
     VALUES
         ( @ISCOD_ARTI,
          @IICOD_EMPR,
          @ISNOM_ARTI,
          @ISCOD_CLAS,
          @ISTIP_PRES,
          @INIMP_VENT,
          @ISTIP_SITU,
          @ISDES_OBSE,
          @ISRUT_FOTO)
GO
/****** Object:  StoredProcedure [dbo].[SP_ARTI_EL01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ARTI_EL01]
@ISCOD_ARTI VARCHAR(20)
AS

DELETE TB_ARTI WHERE FS_COD_ARTI = @ISCOD_ARTI
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_DOCU_VENT_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_CABE_DOCU_VENT_AD01]
@INIDE_DOCU numeric(18,0),
@IICOD_EMPR int,
@ISTIP_DOCU varchar(4),
@IDFEC_DOCU datetime,
@ISCOD_CLIE varchar(20),
@INIDE_ORDE numeric(18,0),
@ISNOM_CLIE varchar(200),
@ISNUM_RUCS varchar(20),
@ISDES_DIRE varchar(200),
@INIMP_TOTA numeric(16,4),
@ISCOD_MONE         varchar(4),
@ISCOD_ESTA_DOCU varchar(4),
@ISDES_OBSE varchar(100),
@ISCOD_EJEC varchar(20),
@ISNUM_DOCU varchar(20)
AS
INSERT INTO [dbo].[TB_CABE_DOCU_VENT]
           ([FN_IDE_DOCU]
           ,[FI_COD_EMPR]
           ,[FS_TIP_DOCU]
           ,[FD_FEC_DOCU]
           ,[FS_COD_CLIE]
           ,[FN_IDE_ORDE]
           ,[FS_NOM_CLIE]
           ,[FS_NUM_RUCS]
           ,[FS_DES_DIRE]
           ,[FN_IMP_TOTA]
           ,[FS_COD_MONE]
           ,[FS_COD_ESTA_DOCU]
           ,[FS_DES_OBSE]
           ,[FS_COD_EJEC]
           ,[FS_NUM_DOCU])
     VALUES
       (  @INIDE_DOCU  ,
         @IICOD_EMPR  ,
         @ISTIP_DOCU  ,
         @IDFEC_DOCU  ,
         @ISCOD_CLIE  ,
         @INIDE_ORDE  ,
         @ISNOM_CLIE  ,
         @ISNUM_RUCS  ,
         @ISDES_DIRE  ,
         @INIMP_TOTA  ,
         @ISCOD_MONE  ,
         @ISCOD_ESTA_DOCU  ,
         @ISDES_OBSE  ,
         @ISCOD_EJEC  ,
         @ISNUM_DOCU)
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_DOCU_VENT_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[SP_CABE_DOCU_VENT_BU01] 
    
-- devuelve nuevo correlativo segun tipo doc.    
@IICOD_EMPR int ,    
@ISTIP_DOCU varchar(4)    
    
as    
Declare @VSNUE_CORR VARCHAR(100)    
Declare @VSULT_CORR VARCHAR(100)   
  
if @ISTIP_DOCU = 'FAC'  
BEGIN
select @VSULT_CORR = IsNull(max(FN_IDE_DOCU),0) +1
from TB_CABE_DOCU_VENT 
WHERE FS_TIP_DOCU = 'FAC'   

SELECT @VSNUE_CORR = 'F001-' + right('000000000000'+@VSULT_CORR ,10) 

END
ELSE IF @ISTIP_DOCU = 'BOL'   
 BEGIN
select @VSULT_CORR = CAST( IsNull(max(FN_IDE_DOCU),0) +1 AS NVARCHAR)
from TB_CABE_DOCU_VENT 
WHERE FS_TIP_DOCU = 'BOL'   

SELECT @VSNUE_CORR =  'B001-' + right('000000000000'+@VSULT_CORR ,10) 
  END
SELECT @VSNUE_CORR
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_DOCU_VENT_BU02]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CABE_DOCU_VENT_BU02]
@INIDE_DOCU numeric(18,0),  
@IICOD_EMPR int  
as  

SELECT [FN_IDE_DOCU]
      ,[FI_COD_EMPR]
      ,[FS_TIP_DOCU]
      ,[FD_FEC_DOCU]
      ,[FS_COD_CLIE]
      ,[FN_IDE_ORDE]
      ,[FS_NOM_CLIE]
      ,[FS_NUM_RUCS]
      ,[FS_DES_DIRE]
      ,[FN_IMP_TOTA]
      ,[FS_COD_MONE]
      ,[FS_COD_ESTA_DOCU]
      ,[FS_DES_OBSE]
      ,[FS_COD_EJEC]
      ,[FS_NUM_DOCU]
  FROM [dbo].[TB_CABE_DOCU_VENT]

  where FI_COD_EMPR = @IICOD_EMPR  
  AND [FN_IDE_DOCU] = @INIDE_DOCU  
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_ORDE_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_CABE_ORDE_AC01]      
@IICOD_EMPR int,      
@INIDE_ORDE numeric(18,0),      
@IDFEC_ORDE datetime,      
@ISNOM_CLIE varchar(200),      
@ISNUM_RUCS varchar(20),      
@ISCOD_CLIE varchar(20),      
@INIMP_TOTA numeric(16,4),      
@ISCOD_MESA varchar(10) = '',      
@ISTIP_SITU varchar(4) = '',      
@ISCOD_EJEC varchar(20) = '',      
@ISTIP_CLIE varchar(4) = '' ,  
@ISNUM_DOCU_CLIE VARCHAR(20) = ''   
As      
      
      
UPDATE  TB_CABE_ORDE      
          set [FD_FEC_ORDE]   =   @IDFEC_ORDE,      
           [FS_NOM_CLIE]   =   @ISNOM_CLIE,      
           [FS_NUM_RUCS]   =   @ISNUM_RUCS,      
           [FS_COD_CLIE]   =   @ISCOD_CLIE,      
           [FN_IMP_TOTA]   =   @INIMP_TOTA,      
           [FS_COD_MESA]   =   @ISCOD_MESA,      
           [FS_TIP_SITU]   =   @ISTIP_SITU,      
           [FS_COD_EJEC]   =   @ISCOD_EJEC,      
           [FS_TIP_CLIE]   =   @ISTIP_CLIE ,  
           FS_NUM_DOCU_IDEN=  @ISNUM_DOCU_CLIE      
   
      WHERE      FI_COD_EMPR    =  @IICOD_EMPR
      AND   [FN_IDE_ORDE] =   @INIDE_ORDE                 
     
  
  
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_ORDE_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_CABE_ORDE_AD01]    
@IICOD_EMPR int,    
@INIDE_ORDE numeric(18,0),    
@IDFEC_ORDE datetime,    
@ISNOM_CLIE varchar(200),    
@ISNUM_RUCS varchar(20),    
@ISCOD_CLIE varchar(20),    
@INIMP_TOTA numeric(16,4),    
@ISCOD_MESA varchar(10),    
@ISTIP_SITU varchar(4),    
@ISCOD_EJEC varchar(20),    
@ISTIP_CLIE varchar(4)  ,
@ISNUM_DOCU_CLIE VARCHAR(20) 
As    
    
    
INSERT INTO TB_CABE_ORDE    
           ([FI_COD_EMPR]    
           ,[FN_IDE_ORDE]    
           ,[FD_FEC_ORDE]    
           ,[FS_NOM_CLIE]    
           ,[FS_NUM_RUCS]    
           ,[FS_COD_CLIE]    
           ,[FN_IMP_TOTA]    
           ,[FS_COD_MESA]    
           ,[FS_TIP_SITU]    
           ,[FS_COD_EJEC]    
           ,[FS_TIP_CLIE]
           ,FS_NUM_DOCU_IDEN)    
     VALUES    
           (@IICOD_EMPR,    
            @INIDE_ORDE,    
            @IDFEC_ORDE,    
            @ISNOM_CLIE,    
            @ISNUM_RUCS,    
            @ISCOD_CLIE,    
            @INIMP_TOTA,    
            @ISCOD_MESA,    
            @ISTIP_SITU,    
            @ISCOD_EJEC,    
            @ISTIP_CLIE ,
            @ISNUM_DOCU_CLIE   
            )


GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_ORDE_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CABE_ORDE_BU01]
-- busca orden por cód.
@INIDE_ORDE numeric(18,0),
@IICOD_EMPR int
as

SELECT [FI_COD_EMPR]
      ,[FN_IDE_ORDE]
      ,[FD_FEC_ORDE]
      ,[FS_NOM_CLIE]
      ,[FS_NUM_RUCS]
      ,[FS_COD_CLIE]
      ,[FN_IMP_TOTA]
      ,[FS_COD_MESA]
      ,[FS_TIP_SITU]
      ,[FS_COD_EJEC]
      ,T1.[FS_TIP_CLIE],
      T2.FS_DES_TIPO_CLIE
      ,[FS_NUM_DOCU_IDEN]
  FROM [dbo].[TB_CABE_ORDE] T1
  inner join TB_TIPO_CLIE T2 ON
  (T1.FS_TIP_CLIE = T2.FS_TIP_CLIE)

  where FI_COD_EMPR = @IICOD_EMPR
  AND FN_IDE_ORDE = @INIDE_ORDE
GO
/****** Object:  StoredProcedure [dbo].[SP_CABE_ORDE_BU02]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CABE_ORDE_BU02]

--listado de órdenes

as
Select FN_IDE_ORDE,
       FD_FEC_ORDE,
       T1.FS_COD_CLIE,
       CASE WHEN ISNULL(T1.FS_NOM_CLIE,'') = '' THEN T2.FS_NOM_RAZO_SOCI ELSE T1.FS_NOM_CLIE END
       FS_NOM_CLIE

       from TB_CABE_ORDE T1
       Inner join TB_CLIE T2 on 
       (T1.FS_COD_CLIE = T2.FS_COD_CLIE)
        
       order by  FN_IDE_ORDE desc

GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CLIE_AC01]
 @ISCOD_CLIE        varchar(20),  
 @ISAPE_PATE_CLIE varchar(50),  
 @ISAPE_MATE_CLIE varchar(50),  
 @ISNOM_CLIE_NA01 varchar(50),  
 @ISNOM_CLIE_NA02 varchar(50),  
 @ISNOM_RAZO_SOCI varchar(150),  
 @IDFEC_REGI        datetime,  
 @ISNUM_DOCU_IDEN varchar(20),  
 @ISNUM_RUCS        varchar(20),  
 @ISDES_MAIL        varchar(150),  
 @ISDES_OBSE         varchar(100),  
 @ISTIP_SITU            varchar(4),  
 @ISCOD_TIPE_SUNA varchar(2),  
 @ISTIP_CLIE         varchar(4),  
 @IISTA_DEFE        int,  
 @ISDES_DIRE        varchar(200)  

 AS
 UPDATE 
 TB_CLIE SET  
             FS_APE_PATE_CLIE = @ISAPE_PATE_CLIE ,
             FS_APE_MATE_CLIE = @ISAPE_MATE_CLIE ,
             FS_NOM_CLIE_NA01 = @ISNOM_CLIE_NA01 ,
             FS_NOM_CLIE_NA02 = @ISNOM_CLIE_NA02 ,
             FS_NOM_RAZO_SOCI = @ISNOM_RAZO_SOCI ,
             FD_FEC_REGI      = @IDFEC_REGI      ,
             FS_NUM_DOCU_IDEN = @ISNUM_DOCU_IDEN ,
             FS_NUM_RUCS      = @ISNUM_RUCS      ,
             FS_DES_MAIL      = @ISDES_MAIL      ,
             FS_DES_OBSE      = @ISDES_OBSE      ,
             FS_TIP_SITU      = @ISTIP_SITU      ,
             FS_COD_TIPE_SUNA = @ISCOD_TIPE_SUNA ,
             FS_TIP_CLIE      = @ISTIP_CLIE      ,
             FI_STA_DEFE      = @IISTA_DEFE      ,
             FS_DES_DIRE      = @ISDES_DIRE     

    WHERE FS_COD_CLIE  = @ISCOD_CLIE
                            
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CLIE_AD01]
 @ISCOD_CLIE        varchar(20),
 @ISAPE_PATE_CLIE varchar(50),
 @ISAPE_MATE_CLIE varchar(50),
 @ISNOM_CLIE_NA01 varchar(50),
 @ISNOM_CLIE_NA02 varchar(50),
 @ISNOM_RAZO_SOCI varchar(150),
 @IDFEC_REGI        datetime,
 @ISNUM_DOCU_IDEN varchar(20),
 @ISNUM_RUCS        varchar(20),
 @ISDES_MAIL        varchar(150),
 @ISDES_OBSE         varchar(100),
 @ISTIP_SITU            varchar(4),
 @ISCOD_TIPE_SUNA varchar(2),
 @ISTIP_CLIE         varchar(4),
 @IISTA_DEFE        int,
 @ISDES_DIRE        varchar(200)

as

INSERT INTO [dbo].[TB_CLIE]
           ([FS_COD_CLIE]
           ,[FS_APE_PATE_CLIE]
           ,[FS_APE_MATE_CLIE]
           ,[FS_NOM_CLIE_NA01]
           ,[FS_NOM_CLIE_NA02]
           ,[FS_NOM_RAZO_SOCI]
           ,[FD_FEC_REGI]
           ,[FS_NUM_DOCU_IDEN]
           ,[FS_NUM_RUCS]
           ,[FS_DES_MAIL]
           ,[FS_DES_OBSE]
           ,[FS_TIP_SITU]
           ,[FS_COD_TIPE_SUNA]
           ,[FS_TIP_CLIE]
           ,[FI_STA_DEFE]
           ,[FS_DES_DIRE])
     VALUES
        (  @ISCOD_CLIE     ,  
          @ISAPE_PATE_CLIE ,
          @ISAPE_MATE_CLIE ,
          @ISNOM_CLIE_NA01 ,
          @ISNOM_CLIE_NA02 ,
          @ISNOM_RAZO_SOCI ,
          @IDFEC_REGI      ,
          @ISNUM_DOCU_IDEN ,
          @ISNUM_RUCS      ,
          @ISDES_MAIL      ,
          @ISDES_OBSE      ,
          @ISTIP_SITU      ,
          @ISCOD_TIPE_SUNA ,
          @ISTIP_CLIE      ,
          @IISTA_DEFE      ,
          @ISDES_DIRE      )
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CLIE_BU01]
@ISTIP_CLIE varchar(4)
as

SELECT [FS_COD_CLIE]
      ,[FS_APE_PATE_CLIE]
      ,[FS_APE_MATE_CLIE]
      ,[FS_NOM_CLIE_NA01]
      ,[FS_NOM_CLIE_NA02]
      ,[FS_NOM_RAZO_SOCI]
      ,[FD_FEC_REGI]
      ,[FS_NUM_DOCU_IDEN]
      ,[FS_NUM_RUCS]
      ,[FS_DES_MAIL]
      ,[FS_DES_OBSE]
      ,[FS_TIP_SITU]
      ,FS_COD_TIPE_SUNA
      ,[FS_TIP_CLIE]
      ,FI_STA_DEFE
  FROM [dbo].[TB_CLIE]
  where [FS_TIP_CLIE] = @ISTIP_CLIE
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_BU02]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[SP_CLIE_BU02]
  /*Búsqueda por diferentes criteros*/

  @ISCOD_CLIE varchar(20) ,
  @ISNOM_CLIE VARCHAR(200) = '',
  @ISTIP_CLIE VARCHAR(4) = '',
  @ISTIP_SITU VARCHAR(4) = '',
  @ISNUM_RUCS VARCHAR(20) = '',
  @ISCOD_TIPE_SUNA VARCHAR(2) = '',
  @ISTOP_REGI int
  As

IF IsNull(@ISTOP_REGI, 0) = 0 
BEGIN
     Select FS_COD_CLIE, 
     FS_NUM_DOCU_IDEN,
       FS_NUM_RUCS,
        Case FS_COD_TIPE_SUNA When '02' Then  FS_NOM_RAZO_SOCI Else   dbo.FC_OBTE_NOMB(FS_COD_CLIE) End FS_NOM_CLIE
        From TB_CLIE
         Where ( (IsNull(@ISCOD_CLIE,'') <> '' And  FS_COD_CLIE like '%' + @ISCOD_CLIE + '%')
           Or     IsNull(@ISCOD_CLIE,'') = '' )
        And
           ( (IsNull(@ISNOM_CLIE,'') <> '' And  dbo.FC_OBTE_NOMB(FS_COD_CLIE) like '%' + @ISNOM_CLIE + '%')
           Or   IsNull(@ISNOM_CLIE,'') = '' )
         And
           ( (IsNull(@ISTIP_CLIE,'') <> '' And  FS_TIP_CLIE = @ISTIP_CLIE)
           Or    IsNull(@ISTIP_CLIE,'') = '' )
         And
           ( (IsNull(@ISTIP_SITU,'') <> '' And  FS_TIP_SITU  = @ISTIP_SITU )
           Or    IsNull(@ISTIP_SITU,'') = '' )
             And
           ( (IsNull(@ISNUM_RUCS,'') <> '' And  FS_NUM_RUCS  like  @ISNUM_RUCS +'%' )
           Or    IsNull(@ISNUM_RUCS,'') = '' )
             And
           ( (IsNull(@ISCOD_TIPE_SUNA,'') <> '' And  FS_COD_TIPE_SUNA  = @ISCOD_TIPE_SUNA )
           Or    IsNull(@ISCOD_TIPE_SUNA,'') = '' )
END
ELSE
BEGIN
  Select Top (SELECT @ISTOP_REGI) FS_COD_CLIE, 
        FS_NUM_DOCU_IDEN,
       FS_NUM_RUCS,
         Case FS_COD_TIPE_SUNA When '02' Then  FS_NOM_RAZO_SOCI Else   dbo.FC_OBTE_NOMB(FS_COD_CLIE) End FS_NOM_CLIE
         From TB_CLIE
    Where ( (IsNull(@ISCOD_CLIE,'') <> '' And  FS_COD_CLIE like '%' + @ISCOD_CLIE + '%')
           Or     IsNull(@ISCOD_CLIE,'') = '' )
        And
           ( (IsNull(@ISNOM_CLIE,'') <> '' And  dbo.FC_OBTE_NOMB(FS_COD_CLIE) like '%' + @ISNOM_CLIE + '%')
           Or   IsNull(@ISNOM_CLIE,'') = '' )
         And
           ( (IsNull(@ISTIP_CLIE,'') <> '' And  FS_TIP_CLIE = @ISTIP_CLIE)
           Or    IsNull(@ISTIP_CLIE,'') = '' )
         And
           ( (IsNull(@ISTIP_SITU,'') <> '' And  FS_TIP_SITU  = @ISTIP_SITU)
           Or    IsNull(@ISTIP_SITU,'') = '' )
        And
           ( (IsNull(@ISNUM_RUCS,'') <> '' And  FS_NUM_RUCS  like  @ISNUM_RUCS +'%' )
           Or    IsNull(@ISNUM_RUCS,'') = '' )
        And
           ( (IsNull(@ISCOD_TIPE_SUNA,'') <> '' And  FS_COD_TIPE_SUNA  = @ISCOD_TIPE_SUNA )
           Or    IsNull(@ISCOD_TIPE_SUNA,'') = '' )
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_BU03]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CLIE_BU03]
@IISTA_DEFE int
as

SELECT TOP 1 T1.[FS_COD_CLIE]
        ,dbo.FC_OBTE_NOMB([FS_COD_CLIE]) FS_NOM_CLIE
      ,T1.[FS_APE_PATE_CLIE]
      ,T1.[FS_APE_MATE_CLIE]
      ,T1.[FS_NOM_CLIE_NA01]
      ,T1.[FS_NOM_CLIE_NA02]
      ,T1.[FS_NOM_RAZO_SOCI]
      ,T1.[FD_FEC_REGI]
      ,T1.[FS_NUM_DOCU_IDEN]
      ,T1.[FS_NUM_RUCS]
      ,T1.[FS_DES_MAIL]
      ,T1.[FS_DES_OBSE]
      ,T1.[FS_TIP_SITU]
      ,T1.FS_COD_TIPE_SUNA
      ,T1.[FS_TIP_CLIE]
      ,T2.FS_DES_TIPO_CLIE
      ,T1.FI_STA_DEFE
  FROM [dbo].[TB_CLIE] T1
  Inner Join TB_TIPO_CLIE T2 On
  (T1.FS_TIP_CLIE = T2.FS_TIP_CLIE)
  where T1.FI_STA_DEFE = @IISTA_DEFE
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_BU04]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CLIE_BU04]  
@ISCOD_CLIE varchar(20)  
as  
  
SELECT TOP 1 T1.[FS_COD_CLIE]  
        ,dbo.FC_OBTE_NOMB([FS_COD_CLIE]) FS_NOM_CLIE  
      ,T1.[FS_APE_PATE_CLIE]  
      ,T1.[FS_APE_MATE_CLIE]  
      ,T1.[FS_NOM_CLIE_NA01]  
      ,T1.[FS_NOM_CLIE_NA02]  
      ,T1.[FS_NOM_RAZO_SOCI]  
      ,T1.[FD_FEC_REGI]  
      ,T1.[FS_NUM_DOCU_IDEN]  
      ,T1.[FS_NUM_RUCS]  
      ,T1.[FS_DES_MAIL]  
      ,T1.[FS_DES_OBSE]  
      ,T1.[FS_TIP_SITU]  
      ,T1.FS_COD_TIPE_SUNA  
      ,T1.[FS_TIP_CLIE]  
      ,T2.FS_DES_TIPO_CLIE  
      ,T1.FI_STA_DEFE  
      ,t1.fs_des_dire
  FROM [dbo].[TB_CLIE] T1  
  Inner Join TB_TIPO_CLIE T2 On  
  (T1.FS_TIP_CLIE = T2.FS_TIP_CLIE)  
  where T1.FS_COD_CLIE =@ISCOD_CLIE  
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIE_BU05]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLIE_BU05]
AS
SELECT [FS_COD_CLIE]
     , dbo.FC_OBTE_NOMB(FS_COD_CLIE) FS_NOM_CLIE
      ,[FS_NOM_RAZO_SOCI]
      ,[FS_NUM_DOCU_IDEN]
      ,[FS_NUM_RUCS]
      ,[FS_DES_OBSE]
      ,[FS_TIP_SITU]
      ,[FS_COD_TIPE_SUNA]
      ,T1.[FS_TIP_CLIE],
      T2.FS_DES_TIPO_CLIE
  FROM [BD_REST].[dbo].[TB_CLIE] t1
  inner join TB_TIPO_CLIE T2
  ON (T1.FS_TIP_CLIE = T2.FS_TIP_CLIE)
GO
/****** Object:  StoredProcedure [dbo].[SP_DETA_DOCU_VENT_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_DETA_DOCU_VENT_AD01]
@INIDE_DOCU numeric(18,0),
@IICOD_EMPR int,
@IINUM_SECU int,
@IDFEC_DOCU datetime,
@ISTIP_DOCU varchar(4),
@ISCOD_ARTI varchar(20),
@INCAN_ARTI numeric(18,2),
@INPRE_VENT numeric(18,4)
AS



INSERT INTO [dbo].[TB_DETA_DOCU_VENT]
           ([FN_IDE_DOCU]
           ,[FI_COD_EMPR]
           ,[FI_NUM_SECU]
           ,[FD_FEC_DOCU]
           ,[FS_TIP_DOCU]
           ,[FS_COD_ARTI]
           ,[FN_CAN_ARTI]
           ,[FN_PRE_VENT])
     VALUES
           (@INIDE_DOCU ,
          @IICOD_EMPR   ,
            @IINUM_SECU ,
            @IDFEC_DOCU ,
            @ISTIP_DOCU ,
            @ISCOD_ARTI ,
            @INCAN_ARTI ,
            @INPRE_VENT)
GO
/****** Object:  StoredProcedure [dbo].[SP_DETA_DOCU_VENT_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DETA_DOCU_VENT_BU01]  
  
@INIDE_DOCU numeric(18,0),  
@IICOD_EMPR INT  
AS  
select *,T2.FS_NOM_ARTI from TB_DETA_DOCU_VENT  T1

inner join TB_ARTI T2 ON (T2.FS_COD_ARTI = T1.FS_COD_ARTI)
WHERE FN_IDE_DOCU = @INIDE_DOCU  
AND T1.FI_COD_EMPR = @IICOD_EMPR   
  
GO
/****** Object:  StoredProcedure [dbo].[SP_DETA_ORDE_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DETA_ORDE_AC01]      
@INIDE_ORDE numeric(18,0) ,  
@IINUM_SECU int           ,  
@IICOD_EMPR int           ,  
@INPRE_VENT numeric(18,4) ,  
@INCAN_ARTI numeric(18,2) ,  
@ISTIP_SITU varchar(4)    ,  
@ISCOD_ARTI varchar(20)  
As      



update [dbo].[TB_DETA_ORDE]  
          
        set  
            [FN_PRE_VENT] =  @INPRE_VENT ,
            [FN_CAN_ARTI] =  @INCAN_ARTI ,
            [FS_TIP_SITU] =  @ISTIP_SITU 
           where  [FN_IDE_ORDE] =  @INIDE_ORDE 
           and  [FI_NUM_SECU] =  @IINUM_SECU 
          and   [FI_COD_EMPR] =  @IICOD_EMPR 
           and       [FS_COD_ARTI] = @ISCOD_ARTI 
          
    if @@ROWCOUNT = 0

   insert into [TB_DETA_ORDE]
   (FI_NUM_SECU,
    FI_COD_EMPR,
    FN_PRE_VENT,
    FN_CAN_ARTI,
    FS_TIP_SITU,
    FS_COD_ARTI )
   
     values(  @IINUM_SECU ,
             @IICOD_EMPR ,
             @INPRE_VENT ,
             @INCAN_ARTI ,
             @ISTIP_SITU ,
            @ISCOD_ARTI )


  
GO
/****** Object:  StoredProcedure [dbo].[SP_DETA_ORDE_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DETA_ORDE_AD01]    
@INIDE_ORDE numeric(18,0) ,
@IINUM_SECU int           ,
@IICOD_EMPR int           ,
@INPRE_VENT numeric(18,4) ,
@INCAN_ARTI numeric(18,2) ,
@ISTIP_SITU varchar(4)    ,
@ISCOD_ARTI varchar(20)
As    
INSERT INTO [dbo].[TB_DETA_ORDE]
           ([FN_IDE_ORDE]
           ,[FI_NUM_SECU]
           ,[FI_COD_EMPR]
           ,[FN_PRE_VENT]
           ,[FN_CAN_ARTI]
           ,[FS_TIP_SITU]
           ,[FS_COD_ARTI])
     VALUES
         ( @INIDE_ORDE ,
          @IINUM_SECU ,
          @IICOD_EMPR ,
          @INPRE_VENT ,
          @INCAN_ARTI ,
          @ISTIP_SITU ,
          @ISCOD_ARTI )
GO
/****** Object:  StoredProcedure [dbo].[SP_DETA_ORDE_CA01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DETA_ORDE_CA01]  
  
  
@INIDE_ORDE numeric(18,0),  
@IICOD_EMPR int   
As  
  
SELECT      TB_ARTI.FS_NOM_ARTI,   
       TB_DETA_ORDE.FN_IDE_ORDE,   
       TB_DETA_ORDE.FI_NUM_SECU,   
       TB_DETA_ORDE.FI_COD_EMPR,   
       TB_DETA_ORDE.FN_PRE_VENT,  
       TB_DETA_ORDE.FN_CAN_ARTI,  
       TB_DETA_ORDE.FS_TIP_SITU,   
       TB_DETA_ORDE.FS_COD_ARTI  
FROM     TB_DETA_ORDE INNER JOIN  
                  TB_CABE_ORDE ON   
                  TB_DETA_ORDE.FI_COD_EMPR = TB_CABE_ORDE.FI_COD_EMPR and  
                  TB_CABE_ORDE.FN_IDE_ORDE = TB_DETA_ORDE.FN_IDE_ORDE
                  INNER JOIN TB_ARTI ON   
                  TB_ARTI.FS_COD_ARTI = TB_DETA_ORDE.FS_COD_ARTI   
                  Where TB_CABE_ORDE.FN_IDE_ORDE = @INIDE_ORDE
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPR_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_EMPR_BU01]
@IICOD_EMPR INT
AS

SELECT [FI_COD_EMPR]
      ,[FS_NOM_EMPR]
      ,[FS_NUM_RUCC]
      ,[FS_DIR_PRIN]
      ,[FS_NUM_TEL1]
      ,[FS_NUM_TEL2]
      ,[FS_PAG_WEBB]
      ,[FS_RUT_LOGO_EMPR]
  FROM [BD_REST].[dbo].[TB_EMPR]
  WHERE FI_COD_EMPR = @IICOD_EMPR
GO
/****** Object:  StoredProcedure [dbo].[SP_GENE_CLAS]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GENE_CLAS]
-- SP_GENE_CLAS 'TB_CABE_ORDE'

@tableName varchar(200) 
As
declare @columnName varchar(200)
declare @nullable varchar(50)
declare @datatype varchar(50)
declare @maxlen int

declare @sType varchar(50)
declare @sProperty varchar(200)

DECLARE table_cursor CURSOR FOR 
SELECT TABLE_NAME
FROM [INFORMATION_SCHEMA].[TABLES] where TABLE_NAME =@tableName

OPEN table_cursor

FETCH NEXT FROM table_cursor 
INTO @tableName

WHILE @@FETCH_STATUS = 0
BEGIN

PRINT 'public class ' + @tableName + ' {'

    DECLARE column_cursor CURSOR FOR 
    SELECT COLUMN_NAME, IS_NULLABLE, DATA_TYPE, isnull(CHARACTER_MAXIMUM_LENGTH,'-1') 
  from [INFORMATION_SCHEMA].[COLUMNS] 
	WHERE [TABLE_NAME] = @tableName
	order by [ORDINAL_POSITION]

    OPEN column_cursor
    FETCH NEXT FROM column_cursor INTO @columnName, @nullable, @datatype, @maxlen

    WHILE @@FETCH_STATUS = 0
    BEGIN

	-- datatype
	select @sType = case @datatype
			when 'bigint' then 'long'
            when 'binary' then 'byte[]'
            when 'bit' then 'bool'
            when 'char' then 'string'
            when 'date' then 'DateTime'
            when 'datetime' then 'DateTime'
            when 'datetime2' then 'DateTime'
            when 'datetimeoffset' then 'DateTimeOffset'
            when 'decimal' then 'decimal'
            when 'float' then 'float'
            when 'image' then 'byte[]'
            when 'int' then 'int'
            when 'money' then 'decimal'
            when 'nchar' then 'char'
            when 'ntext' then 'string'
            when 'numeric' then 'decimal'
            when 'nvarchar' then 'string'
            when 'real' then 'double'
            when 'smalldatetime' then 'DateTime'
            when 'smallint' then 'short'
            when 'smallmoney' then 'decimal'
            when 'text' then 'string'
            when 'time' then 'TimeSpan'
            when 'timestamp' then 'DateTime'
            when 'tinyint' then 'byte'
            when 'uniqueidentifier' then 'Guid'
            when 'varbinary' then 'byte[]'
            when 'varchar' then 'string'
            else @datatype  -- unknown or custom datatype
	END

		If (@nullable = 'NO')
			PRINT '[Required]'
		if (@sType = 'String' and @maxLen <> '-1')
			Print '[MaxLength(' +  convert(varchar(4),@maxLen) + ')]'
		SELECT @sProperty = 'public ' + @sType + ' ' + @columnName + ' { get; set;}'
		PRINT @sProperty

		print ''
		FETCH NEXT FROM column_cursor INTO @columnName, @nullable, @datatype, @maxlen
	END
    CLOSE column_cursor
    DEALLOCATE column_cursor

	print '}'
	print ''
    FETCH NEXT FROM table_cursor 
    INTO @tableName
END
CLOSE table_cursor
DEALLOCATE table_cursor
GO
/****** Object:  StoredProcedure [dbo].[SP_MESA_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MESA_AC01]
@ISCOD_MESA         varchar(10),
@ISSTA_OCUP varchar(1) = 'N',
@ISHOR_INIC_RESE varchar(10) = null,
@ISHOR_FINA_RESE varchar(10) = null

AS

UPDATE TB_MESA
SET FS_HOR_INIC_RESE =  @ISHOR_INIC_RESE,
   FS_HOR_FINA_RESE =  @ISHOR_FINA_RESE,
   FS_STA_OCUP = @ISSTA_OCUP
   WHERE FS_COD_MESA = @ISCOD_MESA
   
GO
/****** Object:  StoredProcedure [dbo].[SP_MESA_AD01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MESA_AD01]
@ISCOD_MESA     varchar(10),
@ISSTA_OCUP     varchar(1) = 'N',
@ISHOR_INIC_RESE varchar(10)= null,
@ISHOR_FINA_RESE varchar(10) = null

AS


INSERT INTO [dbo].[TB_MESA]
           ([FS_COD_MESA]
           ,[FS_STA_OCUP]
           ,[FS_HOR_INIC_RESE]
           ,[FS_HOR_FINA_RESE])
     VALUES
        (   @ISCOD_MESA     ,
           @ISSTA_OCUP      ,
           @ISHOR_INIC_RESE ,
           @ISHOR_FINA_RESE  )
GO
/****** Object:  StoredProcedure [dbo].[SP_MESA_EL01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MESA_EL01]
@IICOD_MESA varchar(10)

AS

DELETE TB_MESA WHERE FS_COD_MESA = @IICOD_MESA
GO
/****** Object:  StoredProcedure [dbo].[SP_USUA_AC01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_USUA_AC01]  
@ISCOD_USUA varchar(10),  
@ISNOM_PRIM varchar(50),  
@ISNOM_SECU varchar(50),  
@ISAPE_PATE varchar(50),  
@ISAPE_MATE varchar(50),  
@ISCLA_USUA varchar(max),  
@ISNUM_TEL1 varchar(20),  
@ISDES_MAIL varchar(50),  
@ISTIP_SITU varchar(4),  
@IINUM_SECU int,  
@ISTIP_USUA varchar(4),  
@ISDES_OBSE varchar(200),  
@ISDES_ROLE varchar(100),  
@ISRUT_FOTO varchar(max) = NULL,  
@update_pwd int = 0  
AS  
IF ISNULL(@ISRUT_FOTO, '') <> ''  
UPDATE  [dbo].[TB_USUA]           
        SET    
           [FS_NOM_PRIM]    =      @ISNOM_PRIM   ,  
           [FS_NOM_SECU]    =      @ISNOM_SECU   ,  
           [FS_APE_PATE]    =      @ISAPE_PATE   ,  
           [FS_APE_MATE]    =      @ISAPE_MATE   ,  
           [FS_NUM_TEL1]    =      @ISNUM_TEL1   ,  
           [FS_DES_MAIL]    =      @ISDES_MAIL   ,  
           [FS_TIP_SITU]    =      @ISTIP_SITU   ,  
           [FI_NUM_SECU]    =      @IINUM_SECU   ,  
           [FS_DES_OBSE]    =      @ISDES_OBSE    ,
             [FS_RUT_FOTO]  =   @ISRUT_FOTO   
       WHERE FS_COD_USUA = @ISCOD_USUA  
ELSE  
  
UPDATE  [dbo].[TB_USUA]           
        SET    
           [FS_NOM_PRIM]    =      @ISNOM_PRIM   ,  
           [FS_NOM_SECU]    =      @ISNOM_SECU   ,  
           [FS_APE_PATE]    =      @ISAPE_PATE   ,  
           [FS_APE_MATE]    =      @ISAPE_MATE   ,  
           [FS_NUM_TEL1]    =      @ISNUM_TEL1   ,  
           [FS_DES_MAIL]    =      @ISDES_MAIL   ,  
           [FS_TIP_SITU]    =      @ISTIP_SITU   ,  
           [FI_NUM_SECU]    =      @IINUM_SECU   ,  
           [FS_DES_OBSE]    =      @ISDES_OBSE     
         
       WHERE FS_COD_USUA = @ISCOD_USUA  
  
 if @update_pwd = 1  
    UPDATE  [dbo].[TB_USUA]           
        SET  FS_CLA_USUA = @ISCLA_USUA  
      WHERE FS_COD_USUA = @ISCOD_USUA  
      
GO
/****** Object:  StoredProcedure [dbo].[SP_USUA_BU01]    Script Date: 02/07/2019 10:53:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_USUA_BU01]      
@IICOD_USUA VARCHAR(10)      
AS      
SELECT [FS_COD_USUA]      
      ,[FS_NOM_PRIM]      
      ,[FS_NOM_SECU]      
      ,[FS_APE_PATE]      
      ,[FS_APE_MATE]      
      ,[FS_CLA_USUA]      
      ,[FS_NUM_TEL1]      
      ,[FS_DES_MAIL]      
      ,[FS_TIP_SITU]      
      ,isnull([FI_NUM_SECU],1) FI_NUM_SECU      
      ,[FS_TIP_USUA]      
      ,[FS_DES_OBSE]      
      , FS_DES_ROLE    
      ,FD_FEC_USCR  
      , FS_RUT_FOTO
  FROM [dbo].[TB_USUA]      
  WHERE FS_COD_USUA = @IICOD_USUA 
GO
USE [master]
GO
